body {
	font-family: "Roboto", sans-serif;
	color: black;
	background-color: white;
}

/* background color */
.bg-color-dark-blue {
	background-color: #001827;
}

.bg-color-light-blue {
	background-color: #003052;
}

.bg-color-white {
	background-color: white;
}

.feture-post-bg {
	min-height: 3100px;
	background-image: linear-gradient(#003052,#FFFFFF,#003052);
}

.fpost-card-header {
	min-height: 120px;
	background-color: #001827;
	border-radius: 8px 8px 0 0;
}

.fpost-card-child {
	background-color: white;
	min-height: 700px;
	border: 2px;
	border-style: solid;
	border-radius: 0 0 8px 8px;
	font-size: 40px;
	padding: 0 60px 0 60px;
}

.fpost-card-child-p {
	min-height: 540px;
}

.gen-info-card-header {
	min-height: 80px;
	background-color: #001827;
	border-radius: 8px 8px 0 0;
	margin: 50px 130px 0 130px;
}

.gen-info-card-child {
	background-color: white;
	min-height: 700px;
	border: 2px;
	border-style: solid;
	border-radius: 0 0 8px 8px;
	font-size: 28px;
	padding: 0 60px 0 60px;
	margin: 0 110px 0 110px;
}

/* telescope */

.telescope-bg {
	/* min-height: 4000px; */
	background-image: linear-gradient(#003052,#FFFFFF,#003052);
}

.telescope-card-child {
	background-color: white;
	/* min-height: 700px; */
	border: 2px;
	border-style: solid;
	border-radius: 0 0 8px 8px;
	font-size: 28px;
	padding: 0 60px 0 60px;
	margin: 0 110px 0 110px;
}

/* stardust */
.newsletter-header {
	min-height: 80px;
	background-color: #001827;
	border-radius: 8px 8px 0 0;
	margin: 30px 0 30px 0;
}

.newsletter-card-header {
	width: 100%;
	margin: 0px;
	height: 40px;
	background-color: #001827;
	border-radius: 6px 6px 0 0;
	font-size: 28px;
    font-weight: 400;
	align-items: center;
	/* margin: 50px 130px 0 130px; */
}

/* text colors */
.text-white {
	color: white;
}

.text-black {
	color: black;
}

.text-dark-blue {
	color: #001827;
}

.text-light-blue {
	color: #003052;
}

/* text layouts */
.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.padding-20 {
	padding: 20px;
}

.padding-b-90 {
	padding-bottom: 90px;
}

/* text styles */
.text-bold-6 {
	font-weight: 600;
}

.text-size-m {
	font-size: medium;
}

.text-size-40 {
	font-size: 40px;
}

.text-size-50 {
	font-size: 50px;
}

.text-size-60 {
	font-size: 60px;
}

.text-size-100 {
	font-size: 100px;
}

.text-size-75 {
	font-size: 75px;
}

.fposts-title {
	font-size: 90px;
	font-weight: 800;
	color: white;
	text-align: center;
	margin: 20px 0 0 0;
}

.contact-title {
	font-size: 115px;
	font-weight: 400;
	color: #001827;
	text-align: center;
}

.certi-title {
	text-align: center;
	color: white;
	background-color: #003052;
	height: 80px;
}

.certi-text {
	margin: 10px 20px 0 20px;
	font-size: 20px;
	font-weight: 500;
	text-align: justify;
	color: #001827;
	line-height: 32px;
	letter-spacing: 0.6px;
}

.certi-link {
	margin: 20px 15px 8px 0;
	font-size: 24px;
	font-weight: 500;
	text-align: right;
	color: #001827;
}

.newsletter-box {
	margin: 0px;
	height: auto;
}

/* align items */
.align-center {
	align-items: center;
}

/* image styles */
.img-full {
	display: block;
	width: 100%;
}

/* navigation */
header {
	background-color: white;
}

.nav-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
}

nav li {
	list-style: none;
	padding-left: 0px;
	font-weight: 400;
	font-size: 24px;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	gap: 38px;
	padding-left: 15px;
	padding-right: 15px;
}

.nav-link {
	color: black;
	text-decoration: none;
}

.nav-link:hover {
	background-color: #001827;
	color: white;
}

.nav-border {
	border: 1px solid black;
	border-radius: 12px;
	max-height: 58px;
	margin-top: 15px;
}

/* button */
.button-join {
	display: inline-block;
	color: white;
	padding: 15px 20px;
	background-color: #003052;
	text-decoration: none;
	font-weight: 500;
	transition: background 0.2s ease;
	border: none;
	border-radius: 12px;
	width: 100%;
}

.btn-join-padding {
	padding-top: 20px;
}

.button-contact {
	display: inline-block;
	color: white;
	padding: 15px 0px;
	background-color: #003052;
	text-decoration: none;
	font-weight: 500;
	transition: background 0.2s ease;
	border: none;
	border-radius: 12px;
	width: 100%;
}

.button-donate {
	display: inline-block;
	color: white;
	padding: 15px 15px;
	background-color: #003052;
	text-decoration: none;
	font-weight: 500;
	transition: background 0.2s ease;
	border: none;
	border-radius: 12px;
	width: 100%;
}

.button-continue {
	display: inline-block;
	color: white;
	padding: 15px 15px;
	background-color: #003052;
	text-decoration: none;
	font-weight: 400;
	transition: background 0.2s ease;
	border: none;
	border-radius: 12px;
	width: 235px;
	height: 60px;
	font-size: 25px;
}

.button-rent {
	display: inline-block;
	color: white;
	padding: 10px 10px;
	background-color: #003052;
	text-decoration: none;
	font-weight: 400;
	transition: background 0.2s ease;
	border: none;
	border-radius: 12px;
	width: 135px;
	height: 50px;
	font-size: 25px;
}

.button-na {
	display: inline-block;
	color: white;
	padding: 10px 10px;
	background-color: #003052;
	text-decoration: none;
	font-weight: 400;
	transition: background 0.2s ease;
	border: none;
	border-radius: 12px;
	width: 185px;
	height: 50px;
	font-size: 25px;
	opacity: 50%;text-align: center;
}

/* input fields */
.input-search {
	width: 100%;
	border-style: solid;
	border-color: #D9D9D9;
	border-radius: 8px;
	height: 40px;
	background-color: #D9D9D9;
}

.input-contact-lbl {
	color: #001827;
	display: block;
	margin-bottom: 8px;
	font-size: 32px;
	font-weight: 700;
}

.input-contact {
	/* width: 65%; */
	border-style: solid;
	border-color: #001827;
	border-width: 1px;
	border-radius: 8px;
	height: 60px;
}

.width-half {
	width: 50%;
}

.width-full {
	width: 100%;
}

.input-contact-msg {
	border-style: solid;
	border-color: #001827;
	border-width: 1px;
	border-radius: 8px;
	padding: 4px 8px;
	height: 300px;
}

.input-contact::placeholder {
  color: #001827;
  font-size: 28px;
  opacity: 80%;
  padding-left: 20px;
  padding-top: 20px;
}

.input-contact-msg::placeholder {
  color: #001827;
  font-size: 28px;
  opacity: 80%;
  padding-left: 20px;
  padding-top: 20px;
}

.certi-img {
	height: 80px;
	width: 80px;
	margin: 15px 10px 15px 10px;
}

.certi-img-left {
	height: 80px;
	width: 80px;
	margin: 15px 10px 15px 80px;
}

.certi-img-right {
	height: 80px;
	width: 80px;
	margin: 15px 80px 15px 10px;
}

.hero-img {
	background-image: url(Images/hero-image.webp);
	height: 1150px;
	background-size: cover;
	margin-top: 15px;
	background-position: bottom;
}

.astrospheric-img {
	background-image: url(Images/Astrospheric.png);
	height: 1195px;
	width: 560px;
	background-size: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.telescope-img {
	/* background-image: url(Images/telescope\ 1.jpg); */
	height: 100%;
	width: 100%;
	background-size: auto;
	object-fit: cover;
	background-repeat: round;
}

.newsletter-img {
	height: 100%;
	width: 100%;
	/* background-size: cover; */
}

.footer {
	min-height: 250px;
	border-top-style: solid;
	border-top-width: 30px;
	border-color: #001827;
	padding: 40px 0 0 0;
}

.footer-link {
	font-size: 32px;
}

.footer-subscribe {
	font-size: 32px;
	font-weight: 500;
}

.footer-link-margin {
	margin: 0 22px 0 22px;
}

.footer-copyright {
	font-size: 25px;
	font-weight: 300;
}

.social-icon {
	height: 30px;
	width: 30px;
	margin-right: 10px;
}

.footer-1-height {
	height: 190px;
}

/* event page */

.search-margin {
	margin-bottom: 25px;
}

.event-cal {
	height: 380px;
	width: 416px;
}

.events-bg {
	background-image: linear-gradient(#003052,#006CB8);
	margin-top: -20px;
	padding-bottom: 25px;
}
.event-card {
	border: 4px;
	border-style: solid;
	border-radius: 8px 8px 0 0;
	border-bottom: 0px;
}
.event-card-title {
	color: #001827;
	background-color: white;
}

.event-btn {
	display: inline-block;
	color: #001827;
	padding: 15px 20px;
	background-color: white;
	text-decoration: none;
	font-weight: 500;
	transition: background 0.2s ease;
	border: none;
	border-radius: 12px;
	width: 100%;
}

.event-btn:hover {
	background-color: #003052;
	color: white;
}

.event-name {
	margin: 0px;
    min-height: 80px;
    padding: 10px;
}

.larger-font {
	font-size: larger;
}